SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true

# Support Email
SMTP_USER=support@omnyxglobal.in
SMTP_PASS=Omnyx$2026!
SMTP_FROM="OMNYX <support@omnyxglobal.in>"

# Sales Email
SMTP_SALES_USER=sales@omnyxglobal.in
SMTP_SALES_PASS=Omnysales@2026!
SMTP_SALES_FROM="OMNYX Sales <sales@omnyxglobal.in>"

SUPPORT_EMAIL=support@omnyxglobal.in
SALES_EMAIL=sales@omnyxglobal.in